* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.main {
  border: 2px solid rebeccapurple;
  height: 400px;
  background-color: azure;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 1000px;
}

.main h1 {
  margin-bottom: 50px;
  font-size: 3rem;
  font-family: "Courier New", Courier, monospace;
}

body {
  background-color: rgb(241, 241, 241);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main .bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 9;
}

.main .bottom .keyA {
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 5px;
  width: 40px;
  height: 150px;
  background-color: whitesmoke;
  border: 1px solid rgb(61, 61, 61);
  box-shadow: 0px 5px 4px rgb(173, 173, 173);
}

.Key1 {
  position: absolute;
  background-color: black;
  width: 30px;
  height: 100px;
  box-shadow: inset 1px 1px 5px whitesmoke;
  color: white;
  box-shadow: 0px 5px 0px rgb(206, 206, 206);
  display: flex;
  align-items: end;
  justify-content: center;
  padding-bottom: 10px;
  border-bottom-right-radius: 10px;
}

.Key1:nth-child(1) {
  top: 0px;
  left: 25px;
}

.Key1:nth-child(2) {
  top: 0px;
  left: 65px;
}

.Key1:nth-child(3) {
  top: 0px;
  left: 145px;
}

.Key1:nth-child(4) {
  top: 0px;
  left: 185px;
}

.Key1:nth-child(5) {
  top: 0px;
  left: 225px;
}

.Key1:nth-child(6) {
  top: 0px;
  left: 305px;
}

.Key1:nth-child(7) {
  top: 0px;
  left: 345px;
}

.Key1:nth-child(8) {
  top: 0px;
  left: 425px;
}

.Key1:nth-child(9) {
  top: 0px;
  left: 465px;
}

.Key1:nth-child(10) {
  top: 0px;
  left: 505px;
}

.Key1:nth-child(11) {
  top: 0px;
  left: 585px;
}

.Key1:nth-child(12) {
  top: 0px;
  left: 625px;
}

.Key1:nth-child(13) {
  top: 0px;
  left: 705px;
}

.Key1:nth-child(14) {
  top: 0px;
  left: 745px;
}

.Key1:nth-child(15) {
  top: 0px;
  left: 785px;
}
