main{
    display: flex;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 30px;
}

.left-main{
    flex: 1;
}

.title{
    width: 420px;
    margin-bottom: 30px;
}

h1{
    font-size: 3.6rem;
    font-weight: 700;
    margin-bottom: 15px;
}

p{
    font-weight: 400;
    margin-bottom: 10px;
    color: rgb(102, 98, 98);
}

.filter-links{
    margin-left: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.filter-links>span{
    display: flex;
    align-items: center;
    gap: 5px;
}

.active-link{
    background-color: rgb(71, 71, 71);
    padding: 10px 20px;
    border-radius: 30px;
    color: white;
}

.right-main{
    flex: 1;
}

img{
    border-radius: 20px;
    object-fit: cover;
    width: 100%;
    height: 420px;
}

.search-btn{
    margin-left: 10px;
    position: relative;
}

input{
    width: 420px;
    padding: 15px 20px;
    border-radius: 30px;
    background-color: rgba(243, 238, 238, 0.795);
    border: none;
    font-size: 1rem;
    outline: none;
}

.popular-search{
    margin-left: 10px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

h3{
    font-size: 1rem;
}

.popular-search>span{
    margin-left: 5px;
    margin-right: 5px;
    color: rgb(151, 153, 155);
    border: 1px solid rgb(236, 234, 234);
    background-color: transparent;
    padding: 5px 10px;
    border-radius: 30px;
}

.bottom{
    margin-left: 80px;
    border-radius: 20px;
    margin-top: 30px;
    margin-right: 200px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 10px;
    background-color: rgba(245, 244, 243, 0.877);
    padding-top: 15px;
    padding-bottom: 15px;
}

.btn{
   background-color: rgb(243, 240, 236);
   border: 3px dotted gainsboro;
   border-radius: 30px;
   font-weight: 700;
   padding: 10px 20px;
   position: relative;
}

.btn>span{
    position: absolute;
    top: 0;
    background-color: rgb(223, 129, 145);
    padding: 2px 8px;
    border-radius: 30px;
    color: white;
    font-weight: bolder;
    
}

.paragraph{
    color: rgb(124, 122, 120);

}
