nav{
    height: 50px;
    padding: 30px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-section{
    display: flex;
    align-items: center;
    margin-left: 20px;
    gap: 40px;
    justify-content: space-between;
}

.nav-links{
    display: flex;
    align-items: center;
    gap: 15px;

}

.logo{
    font-weight: 700;
    font-size: 1.5rem;
}

h3{
    font-weight: 500;
}

.right-section{
    display: flex;
    margin-right: 30px;
}

.auth-links{
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 1.1rem;
}

.signup{
    font-weight: 800;
}

.login{
    background-color: rgb(22, 22, 90);
    color: white;
    font-weight: 800;
    padding: 12px 20px;
    border-radius: 19px;
}


