.emi{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #f5f5f7;
}

.emi>p{
    font-size: 1rem;
    color: #141414;
    font-weight: 300;
}