@font-face {
    font-family: task;
    src: url(LeanForeword-MR0x.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: task;
}

html,
body{
    height: 100%;
    width: 100%;
}

:root{
    --bg-color: rgb(24, 23, 23);
    --bg-button-color: rgb(19, 86, 185);
    --primary-text-color: whitesmoke;
    --section-bg-color:rgb(46, 45, 45);
    --task-card-bg:rgb(88, 87, 87);
    --delete-bg:rgb(175, 22, 22);
    --delete-color:white;

    /* padding var */
    --nav-padding: 15px 30px;
    --section-padding: 15px 30px;
    --padding-s: 5px;
    --padding-m: 10px;
    --padding-l: 15px;
    --padding-xl: 20px;
    --padding-xxl: 30px;

    /* border radius */
    --border-radius-s:5px;
    --border-radius-m:10px;
    --border-radius-l:15px;
    --border-radius-xl:20px;
    --border-radius-xxl:30px;
    
}

body{
    background-color:var(--bg-color);
    color:var(--primary-text-color);
}

main{
    height: 100%;
    display: flex;
    flex-direction: column;
}

nav{
    padding: var(--nav-padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: var(--bg-color);
}

nav #toggle-modal{
    background-color: var(--bg-button-color);
    border: none;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    color: var(--primary-text-color);
    padding: var(--padding-m) var(--padding-l);
    border-radius: var(--border-radius-m);
}

section{
    padding: var(--section-padding);
    display: flex;
    justify-content: space-between;
    gap: var(--padding-xl);
    flex-grow: 1;
    font-family: 'Courier New', Courier, monospace;
}

section .task-colume{
    flex-grow: 1;
    width: 100%;
    background-color: var(--section-bg-color);
    padding: var(--padding-m);
    display: flex;
    flex-direction: column;
    gap: var(--padding-m);
    border-radius: var(--border-radius-m);
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

section .task-colume.hover-over{
    border: 1px solid var(--primary-text-color);
    scale: 1.05;
    box-shadow: inset 0 0 10px wheat;
}

section .task-colume .heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

section .task-colume .task-card{
    background-color: var(--task-card-bg);
    border-radius: var(--border-radius-m);
    padding: var(--padding-m);    
    display: flex;
    flex-direction: column;
    gap: var(--padding-m);
    cursor: grab;
    width: 100%;
}

.tag{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .task-colume .task-card button{
    align-self: flex-end;
    cursor: pointer;
    padding: var(--padding-m);
    border-radius: var(--border-radius-s);
    border: none;
    outline: none;
    background-color: var(--delete-bg);
    color: var(--delete-color);
    font-weight: 600;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
}

.modal.active{
    display: flex;
}

.modal .center{
    display: flex;
    flex-direction: column;
    background-color: var(--task-card-bg);
    border-radius: var(--border-radius-m);
    gap: var(--padding-m);
    z-index: 10;
    padding: var(--border-radius-xxl);
}

.modal .center input, .modal .center textarea{
    background-color: var(--section-bg-color);
    border: none;
    outline: none;
    color: var(--primary-text-color);
    padding: var(--padding-m);
    border-radius: var(--border-radius-m);
}

.modal .center #add-new-task{
     background-color: var(--bg-color);
    border: none;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    color: var(--primary-text-color);
    padding: var(--padding-m) var(--padding-l);
    border-radius: var(--border-radius-m);
    transition: all 0.3s ease-in-out;
}

.modal .bg{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.527);
    backdrop-filter: blur(5px);
}

.modal .center #add-new-task:hover{
    background-color:rgb(0, 0, 0);
    box-shadow:  0 0 10px white;
}


.modal .center #add-new-task:active{
    transform: scale(0.8);
}