@font-face {
    font-family: marval;
    src: url(LeanForeword-MR0x.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'marval';
}

html,
body{
    height: 100%;
    width: 100%;

    display: flex;
    gap: 5px;
        
    section{
        flex: 1;
        background-color: red;
        transition: 0.4s ease ;
        
        display: flex;
        align-items: start;
        padding-top: 5rem;
        justify-content: center;

        h1{
            color: white;
            font-size: 3rem;
        }
    }
    
    .img1{
        background-image: url(Thor.jpeg);
        background-size: cover;
    }

      .img2{
        background-image: url(spiderman.jpg);
        background-size: cover;
    }

      .img3{
        background-image: url(loki.jpg);
        background-size: cover;
    }

      .img4{
        background-image: url(black.jpg);
        background-size: cover;
    }

      .img5{
        background-image: url(hulk.jpg);
        background-size: cover;
    }

    section:hover{
        flex-grow: 2;
    }
}
