*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    width: 100%;
    height: 100%;
    background: url(https://i.pinimg.com/736x/92/99/af/9299aff7cdac2f39fd476609114c21ac.jpg) ; 
}

:root{
    --x: 150px;
    --y: 150px;
}

.box{
    width: 100%;
    height: 100%;

    background: radial-gradient(150px at var(--x) var(--y), transparent, rgba(0, 0, 0, 0.973));
}