*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    width: 100%;
    height: 100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    background-color: black;
}

.container{
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    
}

.container>h1{
    color: white;
    font-size: 3rem;
    font-weight: 600;
}

button{
    padding: 20px 30px;
    margin-top: 20px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 20px;
    background-color: grey;
    color: white;
    border: none;
    cursor: pointer;
}

.main-heading{
    color: white;
    margin-bottom: 10px;
}

.captain{
    color: white;
}

.trophies{
    color: white;
}