* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

main {
  height: 100%;
  width: 100%;
  background-color: rgb(132, 202, 187);
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  width: 300px;
  background-color: whitesmoke;
  height: 400px;
  padding: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
}

.main .img-div img {
  width: 210px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
  border: 2px dotted black;
  position: relative;
}

.main .img-div i {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 4rem;
  transform: translate(-50%, -50%) scale(0) rotate(-60deg);
  transition: all cubic-bezier(.88,.95,.97,1.42) 0.5s;
  background-image: url(https://t3.ftcdn.net/jpg/01/14/77/58/360_F_114775804_4yfG9qbKp1NlF1RLo4MUlGIVj9MWhnnc.jpg);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  color: transparent;
}
