*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html,
body{
    width: 100%;
    height: 100%;
    background-color: black;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    anchor-name: --anchor-tag;
}

.box{
    height: 200px;
    width: 200px;
}

.box:hover{
anchor-name: --anchor-tag;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.green{
    background-color: green;
}

.anchor{
    border-radius: 10px;
    background-color: azure;
    position: absolute;
    position-anchor: --anchor-tag;
    top: anchor(top);
    left: anchor(left);
    right: anchor(right);
    bottom: anchor(bottom);
    pointer-events: none;
    transition: all 0.3s linear;
    mix-blend-mode: difference;
}