* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: black;
  padding-top: 20px;
}

main {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.main {
  background-color: beige;
  width: 300px;
  height: 400px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  border-radius: 20px;
}

.main img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.main h1 {
  font-size: 2rem;
  font-weight: 700;
}

.main h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

.main p {
  color: rgb(107, 107, 107);
  font-weight: 500;
  text-align: center;
}
