*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 100px;
    margin-bottom: 10px;
}

#inc{
    padding: 10px 20px;
    background-color: blue;
    color: white;
    cursor: pointer;
}

#dec{
    padding: 10px 20px;
    background-color: red;
    color: white;
    margin-left: 10px;
    cursor: pointer;
}