*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    width: 100%;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: black;
     position: relative;
}

div{
    display: flex;
   
    align-items: center;
    justify-content: center;
}

button{
    padding: 20px 40px;
    color: black;
    background-color: brown;
    border-radius: 20px;
    border: none;
    z-index: 99;
    font-weight: 600;
}
