@font-face {
  font-family: Regular;
  src: url(SourceCodePro-Regular.ttf);
}

@font-face {
  font-family: light;
  src: url(./SourceCodePro-Light.ttf);
}

@font-face {
  font-family: bold;
  src: url(./SourceCodePro-Bold.ttf);
}

@font-face {
  font-family: semibold;
  src: url(./SourceCodePro-Semibold.ttf);
}

@font-face {
  font-family: medium;
  src: url(./SourceCodePro-Medium.ttf);
}

:root {
  --pri: #6b5a47;
  --sec: #b77466;
  --tri1: #ffe1af;
  --tri2: #e2b59a;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Regular;
  color: var(--tri1);
}

html,
body {
  width: 100%;
  height: 100%;
}

#main {
  width: 100%;
  height: 100%;
  background-color: var(--sec);
}

section.allElm {
  height: 100%;
  width: 100%;
  padding: 40px;
  padding-top: 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 40px;
  position: absolute;
}

.elem {
  background-color: var(--pri);
  height: 300px;
  width: 220px;
  font-size: 20px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  transition: all ease 0.3s;
  cursor: pointer;
  box-shadow: -5px 5px 2px rgba(0, 0, 0, 0.727);
}

.elem img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.elem h2 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: bold;
}

.elem:active {
  scale: 0.9;
}

.fullElem {
  width: 100%;
  height: 100%;
  background-color: var(--pri);
  padding: 20px;
  display: none;
  position: absolute;
}

.back {
  position: absolute;
  right: 15px;
  background-color: rgba(255, 0, 0, 0.265);
  outline: none;
  border: none;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  transition: all ease-in 0.3s;
}

.back:active {
  scale: 0.7;
}

.todo-list-fullpage {
  display: block;
}

.todo-list-fullpage h2 {
  font-size: 30px;
  font-family: bold;
}

.todo-list-fullpage .todo-container {
  height: 80%;
  width: 100%;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-list-fullpage .todo-container .addTask {
  width: 33%;
  background-color: #796755;
  height: 100%;
  border-radius: 20px;
}

.todo-list-fullpage .todo-container .addTask form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
}

.todo-container .addTask form #task-input {
  padding: 10px 20px;
  width: 100%;
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 10px;
  color: black;
  background-color: var(--tri1);
  border-radius: 5px;
  outline: none;
  border: none;
  box-shadow: inset 0 0 3px black;
}

.todo-container .addTask form textarea {
  padding: 10px 20px;
  width: 100%;
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 10px;
  color: black;
  background-color: var(--tri1);
  border-radius: 5px;
  outline: none;
  border: none;
  box-shadow: inset 0 0 3px black;
}

.todo-container .addTask form button {
  padding: 10px 20px;
  width: 100%;
  font-size: 15px;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
  color: rgb(55, 55, 55);
  background-color: var(--sec);
  border-radius: 5px;
  outline: none;
  border: none;
  box-shadow: inset 0 0 3px black;
  cursor: pointer;
  transition: all ease 0.3s;
}

.todo-container .addTask form button:active {
  scale: 0.9;
}

.todo-list-fullpage .todo-container .allTasks {
  width: 65%;
  background-color: #796755;
  height: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  overflow: auto;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--tri1);
  padding: 12px 16px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.task h5{
    color: rgb(117, 117, 117);
    font-weight: 600;
    font-size: 15px;
}

.task h5 span.true{
    color: white;
    margin-left: 5px;
    padding: 2px 5px;
    border-radius: 10px;
    font-weight: 600;
    background-color: rgb(232, 83, 83);
    font-size: 10px;
}

.task button{
    padding: 12px 15px;
    background-color: #b77466;
    color:rgb(45, 45, 45);
    font-weight: 600;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: all ease 0.3s;
}

.task button:active{
  scale: 0.7;
}

.mark-imp{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
  width: 100%;
  gap: 10px;
}
