.daily-planner-fullpage .day-planner {
  background-color: #796755;
  height: 85%;
  margin-top: 40px;
  width: 100%;
  border-radius: 20px;
  padding: 30px;
  display: flex;
  align-items: flex-start;
  overflow: auto;
  flex-wrap: wrap;
  gap: 10px;
}

.daily-planner-fullpage .day-planner .day-planner-time {
  display: flex;
  position: relative;
  align-items: center;
  width: 49%;
  margin-bottom: 15px;
}

.day-planner .day-planner-time p {
  position: absolute;
  top: 10%;
  left: 2%;
  color: black;
  font-size: 18px;
}

.day-planner .day-planner-time input {
  padding: 10px 20px;
  color: black;
  width: 100%;
  background-color: var(--tri1);
  border-radius: 5px;
  border: none;
  font-size: 20px;
  box-shadow: inset 0 0 3px black;
  outline: none;
  padding-top: 30px;
}
