.motivation-fullpage h2 {
  font-size: 30px;
  font-family: bold;
}

.motivation-fullpage {
  display: block;
  position: relative;
  background-color: rgb(21, 21, 20);
}

.motivation-fullpage .motivational-container {
  height: 350px;
  width: 80%;
  border-radius: 50px;
  background-color: rgb(207, 148, 30);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.motivation-fullpage .motivational-container::after {
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 50px;
  scale: 1.1;
  position: absolute;
  filter: blur(100px);
  background-color: rgb(207, 148, 30);
  z-index: 8;
}

.motivation-fullpage .motivational-container .motivation-wrapper {
  z-index: 10;
  position: absolute;
  border-radius: 30px;
  background-color: rgb(207, 148, 30);
  width: 100%;
  padding: 12px;
}

.motivation-1 {
  padding: 30px;
  border-radius: 20px;
  background-color: #796755;
}

.motivation-1 h2 {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
}

.motivation-2{
    margin-top: 20px;
    padding: 10px;
}

.motivation-2 h1{
    font-size: 40px;
    color: rgb(28, 28, 28);
    font-weight: 500s;
}

.motivation-3 {
  padding: 10px;
  margin-top: 10px;
}

.motivation-3 h2 {
  font-size: 30px;
  font-weight: 500;
  text-align: right;
}
