*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    width: 100%;
    height: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.outer{
    width: 356px;
    height: 15px;
    border-radius: 10px;
    background-color: gray;
    overflow: hidden;
}

.inner{
    width: 0%;
    background-color: orangered;
    height: 15px;
    border-radius: 10px;
}

.main{
    background-color: white;
    width: 400px;
    height: 200px;
    padding: 20px;
    border-radius: 10px;
}

.main h1{
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.main span{
    color: orangered;
}

.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    padding: 10px;
}

.bottom h2{
    font-weight: 600;
    font-size: 2rem;
}

.bottom button{
    padding: 10px 30px;
    background-color: greenyellow;
    box-shadow: 3px 3px 2px black;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    outline: nonez;
}

.bottom button:active{
    transform: scale(0.9);
}