*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html,
body{
    width: 100%;
    height: 100%;
    background-color: black;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.box{
    height: 200px;
    width: 200px;
    transition: all 0.3s linear;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.green{
    background-color: green;
}

body:has(.box:hover) .box{
    transform: scale(0.8);
    filter: blur(10px);
}

body .box:hover{
    transform: scale(1.2) !important;
    filter: blur(0px) !important;
}
